---
import ChevronDown from '../../iconography/ChevronDown'

export interface Props {
  image: string
}

const { image } = Astro.props
---

<section class="relative h-screen">
  <div class="absolute inset-0 -z-10">
    <img src={image} alt="hero" class="h-full max-h-screen w-full object-cover" />
  </div>
  <div class="flex h-full flex-col items-center justify-center bg-black bg-opacity-50">
    <ChevronDown className="animate-bounce text-white !h-8 !w-8 absolute bottom-8" href="rsvp" client:load />
  </div>
</section>
