---
import Separator from '../separator'
---

<nav class="flex w-full justify-center border-4 border-black">
  <!-- static navbar -->
  <ol class="lg:flex space-x-4 items-center hidden">
    <li><a href="">HOME</a></li>
    <Separator />
    <li><a href="#rsvp">RSVP</a></li>
    <Separator />
    <li><a href="#gallery">GALLERY</a></li>
    <Separator />
    <li><a href="#weddingParty">WEDDING PARTY</a></li>
    <Separator />
    <li><a href="#travel">TRAVEL</a></li>
    <Separator />
    <li><a href="#giftRegistry">GIFT REGISTRY</a></li>
    <Separator />
    <li><a href="#contact">CONTACT</a></li>
  </ol>
</nav>
