---
import Stepper from '../../stepper'

export interface Props {
  image: string
}

const { image } = Astro.props
---

<section id="rsvp" class="relative h-screen">
  <div class="flex h-full flex-col items-center justify-center bg-[#E6CDAE]">
    <div class="mx-auto"><Stepper client:visible /></div>
  </div>
</section>
